/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.menu-fijo {
    background: #E54E79;
    height: 80px;
   
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}   

#logo-header {

    float: left;
    padding: 15px;
}

#logo-header img {
	width: 60px;
	margin-left: 170px;

}

nav {
    float: right;

}
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-right: 185px;
        text-align: right;

        
    }
    
        nav ul li {
            display: inline-block;
            line-height: 80px;
             
        }
            
            nav ul li a {
                display: block;
                padding: 0 10px;
                text-decoration: none;
                color: white;
            }
            
                nav ul li a:hover {
                    background: #ce4e79;
                }

